Repository acm-ucr/membership-portal-admin, pull requests merged in 2023-07, with the labels that each got.

#62 Added spacing in the navigation bar
  components/Navigation.js
Labels: ready for review, nav

#63 Reduced Calendar Toolbar Size
  components/CustomToolbar.js
Labels: ready for review, calendar

#64 Store Resource Modules Locally
  .eslintrc.json
  components/Resource.js
  components/Resources.js
  pages/api/deleteResource.js
  pages/api/getAllResources.js
Labels: do not merge, resources, backend
